html, body {
    padding: 0;
    margin: 0;
    position: relative;
    font-family: Georgia, serif;
    font-size: 16px;
    height: 100%;
}

h1 {
    margin-bottom: 0;
}

.section {
    padding: 1em 0
}

.container {
    padding: 0 1.5em;
    margin: 0 auto;
    max-width: 640px;
}

.series {
    margin-bottom: 2em
}

.series .title {
    margin-top: .5em
    
}

.series .item {
    
    background: #ccc;
    border-radius: .25em;
    display: flex;
    margin-bottom: .25em;

}

.series .item .image {
    width: 15%;
    background: #333
}

.series .item .details {
    padding: 1em 0;
    width: 65%;
    height: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.series .item .details .lesson {
    display: block
}

.series .item .details .presenter {
    font-size: .9em
}

.series .item .details .date {
    font-size: .8em
}

.series .item .select {
    width: 15%;
    height: auto;
    position: relative;
}

.series .item .select a.play-btn {
    display: block;
    width: 80%;
    max-width: 28px;
    height: 50%;
    background: url('arrow.svg');
    background-size: 100% 100%;
    position: absolute;
    right: 1em;
    top: 25%;
    
}

.series .item .select a.play-btn span{
    display: none
}


.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    color: white;
    padding: .5em 0 .5em 0;
    text-align: center;
}

.player .container {
    padding: 0 .5em;
}

.player audio {
    width: 100%;
}

.player .credit {
    font-size: .6em;
    color: #777;
    text-decoration: none;
}

.endblock {
    display: block;
    height: 100px;
}